
@import url(/static/bariol/stylesheet.css);
@import url(/static/saxmono/stylesheet.css);

html, body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'bariol_regularregular', Helvetica, Arial, sans-serif;
	color: #444;
    font-size: 21px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
    color: #495A90;
    transition: all 100ms ease-in;
}

a:hover {
    color: #62719E;
}

header {
	background-color: #495A90;
	display: table;
	width: 100%;
}

header>div {
	margin: 20px auto 20px auto;
	width: 600px;	
    display: table;
}

header>div>nav, header>div>div {
    display: table-cell;
}

header>div>nav>a {
	margin: 0px 20px 0px 0px;
	font-size: 0.8em;
	color: #fff;
	padding: 3px 10px;
	border-radius: 3px;
}

header>div>nav>a:hover, header>div>nav>a.current {
	color: #495A90;
	background-color: #fff;
}

#social {
    text-align: right;
    font-size: 24px;
}

#social>a {
	color: #fff;
    margin: 0px 0px 0px 5px;
}

ul {
	list-style: none;
}

ul>li {
	margin: 10px 0px;
}

h1 {
    /* padding: 20px 100px; */
    margin: 0px;
    font-family: 'bariol_lightlight';
}

h2, h3, h4 {
	margin-top: 40px;
	font-family: 'bariol_boldbold';
	font-weight: normal;
}

p, #content>ul, footer {
    font-size: 1em;
    /*line-height: 1.618em;*/
    line-height: 135%;
    /*word-break: break-all;
    Non standard for webkit
    word-break: break-word;*/
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

p+p {
    text-indent: 1em;
}

strong { font-weight: normal; font-family: 'bariol_boldbold'; }

div#posthead {
	padding: 50px 50px 10px 50px;
	color: #000;
	text-align: center;
}

body.grand>div#posthead {
	padding: 100px;
	background-color: #62719E;
	color: #fff;
	text-align: center;
}

div#posthead>div {
	width: 600px;
	margin: auto;
}

#toc, #toc>ul, #toc>ul>li {
	margin: 0px;
	padding: 0px;
}

#toc {
	position: absolute;
	left: 0px;
	top: auto;
	font-size: 0.8em;
	margin: 40px;
}

#toc>ul>li {
	margin: 8px 0px;
}


#toc>ul>li>a {
	color: #ddd;
	border-radius: 3px;
}

body.read_mode>#toc>ul>li>a, #toc>ul:hover>li>a {
	color: #aaa;
}

#toc>ul>li>a.active, #toc>ul>li>a:hover {
	padding: 4px;
	color: #fff !important;
	background-color: #ddd;
}

body.read_mode>#toc>ul>li>a.active, #toc>ul:hover>li>a.active, #toc>ul:hover>li>a:hover {
	background-color: #62719E;
}


/*
body.read_mode>#toc>ul>li>a.active {
	color: #fff;
}
*/

body.read_mode>#toc {
	position: fixed;
	top: 0px;
}

#wrap {	
	position: relative;
	margin: 60px auto;
	width: 600px;
}

#wrap a {
	font-family: 'bariol_boldbold';
}

#content {
	width: 600px;
}

#content>ul>li:before {
	font-family: 'FontAwesome';
	content: '\f111 ';
	font-size: 0.45em;
	color: #aaa;
	margin-left: -20px;
	text-align: left;
	vertical-align: middle;
    width: 20px;
    display: inline-block;
}

/* external link fluff
#content a:after {
	font-family: 'FontAwesome';
	content: ' \f08e';
	font-size: 0.5em;
	vertical-align: bottom;
	color: #555;
}
*/

code {
	background-color: #fdfdfd;
	border: solid 1px #dfdfdf;
    border-radius: 6px;
    display: block;
    padding: 10px;
    margin: 10px;
    font-size: 0.8em;
    /*background-color: #f5f5f5;*/
    font-family: 'saxmonoregular', monospace;
}

footer {
	display: table;
	width: 100%;
}

body.grand>footer {
	background-color: #62719E;
	color: #fff;
}

footer>div {
	margin: 70px auto;
	width: 600px;
	text-align: center;
}

footer a {
	font-family: 'bariol_boldbold';
	padding: 4px;
	border-radius: 3px;
}

footer a:hover {
	color: #fff;
	background-color: #495A90;
}

body.grand>footer a {
	color: #fff;
}

body.grand>footer a:hover {
	color: #495A90;
	background-color: #fff;
}
