
@import url(/static/bariol/stylesheet.css);
@import url(/static/saxmono/stylesheet.css);

html {
	background-color: #eee;
}

body {
	font-family: 'bariol_regularregular', Helvetica, Arial, sans-serif;
	color: #222;
	width: 800px;
	margin: 60px auto;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
h1 { margin: 0px 100px; font-size: 4.236em; }
h2 { font-size: 2.618em; margin-top: 40px; line-height: 1.0em; }
h3 { font-size: 1.618em; margin: 0 100px 0 100px; line-height: 1.0em; }
h4 { font-size: 1.4em; }
h4 { font-size: 0.9em; }

strong { font-weight: normal; font-family: 'bariol_boldbold'; }

header {
    display: table;
    width: 100%;
}

header a {
    position: relative;
}

/*
header a:hover {
    padding-bottom: 2px;
    bottom: 2px;
}
*/

header>nav, header>div {
    display: table-cell;
}

nav>a {
	margin: 0px 10px;
	text-decoration: none;
	font-size: 0.9em;
	color: #000;
}

nav a.current {
	font-family: 'bariol_boldbold';
}

#social {
    text-align: right;
}

#social>a {
    position: relative;
    margin: 0px 5px 0px 0px;
    text-decoration: none;
    font-size: 1.0em;
}

#wrap {
    position: relative;
	margin: 20px 0px 0px 0px;
	background-color: #fff;
	border-radius: 3px;
	border: solid 1px #ddd;
    padding: 100px 0px 0px 0px;
}

#toc {
    padding: 2px 100px;
    background-color: #f5f5f5;
}

#toc>ul {
    list-style: none;
    padding: 0px;
    margin: 16px 0px;
}

#toc>ul>li:before {
    content: "\f068";
    font-family: FontAwesome;
    font-size: 0.7em;
    display: inline-block;
    margin-left: -20px;
    width: 20px;
}

#toc a, .quicknotes a {
    color: #000;
    text-decoration: none;
    font-family: 'bariol_boldbold';
}

#toc a:hover, .quicknotes a:hover {
    color: #444;
}

#content {
	padding: 0px 0px;
}

p, h1, h2, h3, h4 {
    /* padding: 20px 100px; */
    padding: 40px 100px 20px 100px;
    margin: 0px;
    font-family: 'bariol_lightlight';
}

p, #content>ul {
    font-size: 1em;
    /*line-height: 1.618em;*/
    line-height: 145%;
    font-family: 'bariol_regularregular';
    padding: 0px 100px 0px 100px;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.quicknotes {
    margin: 16px 0px;
    padding: 16px 100px;
    background-color: #f5f5f5;
}

.quicknotes>ul {
    list-style: none;
}

.quicknotes>ul>li:before {
    content: "\f068";
    font-family: FontAwesome;
    font-size: 0.7em;
    display: inline-block;
    margin-left: -20px;
    width: 20px;
}

#content>ul {
    list-style: none;
    padding-left: 130px;
}

#content>ul>li:before {
    content: "\f10c";
    font-family: FontAwesome;
    font-size: 0.7em;
    display: inline-block;
    margin-left: -30px;
    width: 30px;
}

p+p {
    text-indent: 2em;
}

h2.posttitle {
    padding: 0px 100px 0px 100px;
}

h3.postdate {
    font-size: 1.0em;
    color: #999;
    padding: 14px 100px 50px 100px;
    transition: all 1s ease-in;
}

a {
    color: #118;
    transition: all 100ms ease-in;
}

a:hover {
    color: #33b;
}

code {
    border-left: solid 10px #e0e0e0;
    display: block;
    margin: 20px 0px;
    padding: 2px 100px 2px 90px;
    font-size: 0.9em;
    background-color: #f5f5f5;
    font-family: 'saxmonoregular', monospace;
}

blockquote {
    display: block;
    margin: 20px 0px;
    padding: 2px 100px 2px 100px;
    font-size: 0.9em;
    background-color: #f5f5f5;
    font-style: italic;
}

blockquote>p {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

body.read_mode {
    
}

body.read_mode h3.postdate
{
    color: #fff;
}

body.read_mode p
{
    
}

footer {
    padding: 50px 100px;
    font-size: 0.9em;
    margin-top: 100px;
}

footer>ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

footer>ul a {
    color: #000;
    text-decoration: none;
    font-family: 'bariol_boldbold';
}

footer>ul a:hover {
    color: #444;

}

/* article list stuff */
#content>ul.articles {
    list-style: none;
    padding: 0px;
    margin: 40px 0px 100px 0px;
}

#content>ul.articles>li {
    padding: 0px;
    margin: 0px;
}

#content>ul.articles>li:before {
    content: none;
}

#content>ul.articles h3 {
    margin: 0px;
    padding: 0px 100px 20px 100px;
}

#content>ul.articles a {
    /*color: #000;*/
    text-decoration: none;
    font-family: 'bariol_regularregular';
}

#content>ul.articles a:hover {
    /*color: #444;*/
}

/*
footer>ul a:before {
    font-family: 'FontAwesome';
    content: "\f054  ";
    font-size: 0.0em;
    color: #fff;
    transition: all 100ms ease-in;
}

footer>ul a:hover:before {
    color: #000;
    font-size: 0.6em;
}
*/