/*@import url(http://fonts.googleapis.com/css?family=Lekton|Mako|Ubuntu+Mono|Gudea|Convergence|Signika|Telex|Shanti|Open+Sans|Inconsolata);*/
/*@import url(http://fonts.googleapis.com/css?family=Homenaje);*/
@import url(http://fonts.googleapis.com/css?family=Gudea);

html {
	background-color: #eee;
}

body {
	font-family: 'Gudea', Helvetica, Arial, sans-serif;
	color: #333;
	width: 66%;
	margin: 60px auto;
}
h1 { margin-left: 80px; font-size: 2.7em; }
h2 { font-size: 1.1em; }
h3 { font-size: 1.1em; }
h4 { font-size: 1.0em; }
h4 { font-size: 0.9em; }

/* scrollbars */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #eee;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.2); 
}

nav a {
	margin: 0px 10px;
	text-decoration: none;
	font-size: 0.9em;
	color: #000;
}

nav a.current {
	font-weight: bold;
}

#wrap {
	margin: 20px 0px 20px 0px;
	background-color: #fff;
	border-radius: 3px;
	border: solid 1px #ccc;
}

#content {
	padding: 20px 40px 20px 80px;
}

a {
    color: #118;
}

a:hover {
    color: #11a;
}

div#content>ul {
	margin: 0px 0px 0px 40px;
}

ul, ol {
    list-style: none;
}

ul>li {
    margin: 50px 0px;
    padding: 0;
}

ul ul>li, ul ul, ul ol {
	margin: 0;
	padding: 0;
}

ul ul ul, ul ul ol {
	list-style: circle;
	margin: 0px 50px;
}

ul ul ul>li, ul ul ol>li {
    margin: 10px 0px;
}

h3 {
    text-transform: lowercase;
    position: relative;
    left: -80px;
    margin: 0px -50px;
    width: 100px;
    float: left;
    text-align: right;
    color: #777;
}

ul ol {
    color: #888;
}

ul ol a {
    color: #666;
}

/* section specifics */

#wrap.blog #content>ul>li {
	
}
