<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/static/css/frontpage.css">

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-24416577-1']);
			_gaq.push(['_setDomainName', 'svenandersson.se']);
			_gaq.push(['_setAllowHash', 'false']);
			_gaq.push(['_trackPageview']);

			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	  </script>
	</head>
	<body>
		<nav>
			<a href="/"{% if page.curr == "aboutme" %} class="current" {% endif %}>About me</a>
			<a href="/blog/"{% if page.curr == "blog" %} class="current" {% endif %}>Blog</a>
			<a href="/articles/"{% if page.curr == "articles" %} class="current" {% endif %}>Articles</a>
			<a href="/code/"{% if page.curr == "code" %} class="current" {% endif %}>Code</a>
		</nav>
		<div id="wrap" class="{{ page.curr }}">
			<div id="content">
{{ content }}
			</div>
		</div>
	</body>
</html>