<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/static/css/default.css">
		<link rel="stylesheet" href="/static/css/syntax.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-24416577-1']);
			_gaq.push(['_setDomainName', 'svenandersson.se']);
			_gaq.push(['_setAllowHash', 'false']);
			_gaq.push(['_trackPageview']);

			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	  </script>
	  <script src="/static/js/zepto.min.js"></script>
	  <script src="/static/js/default.js"></script>
	</head>
	<body>
		<header>		
			<nav>
				<a href="/">About me</a>
				<a href="/articles/">Articles</a>
				<a href="/code/">Code</a>
			</nav>
			<div id="social">
				<a href="http://twitter.com/andsve"><i class="icon-twitter-sign"> </i></a>
				<a href="http://linkedin.com/in/andsve"><i class="icon-linkedin-sign"> </i></a>
				<a href="http://dribbble.com/andsve"><i class="icon-dribble"> </i></a>
				<a href="http://bitbucket.org/andsve"><i class="icon-bitbucket"> </i></a>
				<a href="http://github.com/andsve"><i class="icon-github"> </i></a>
			</div>
		</header>
		<div id="wrap" class="blog">
			<div id="content">
		<h2 class="posttitle" style="background-image: url({{ page.image }});">{{ page.title }}</h2>
		{% if page.updated %}
		<h3 class="postdate">orginally written {{ page.date | date: "%Y %b %d" }}, updated {{ page.updated | date: "%Y %b %d" }}</h3>
		{% else %}
		<h3 class="postdate">written {{ page.date | date: "%Y %b %d" }}</h3>
		{% endif %}
		{{ content }}

			</div>
		</div>
		<footer>
			Previous posts
			<ul>
			{% for post in site.posts limit: 5 %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
			</ul>
		</footer>
	</body>
</html>