<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/third.css">
        <link rel="stylesheet" href="/static/css/syntax.css">
        <link href="https://fonts.googleapis.com/css?family=Abel|Rubik:300|Inconsolata" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-24416577-1']);
            _gaq.push(['_setDomainName', 'svenandersson.se']);
            _gaq.push(['_setAllowHash', 'false']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
      </script>
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/third.js"></script>
      {% include seo_head.html %}
    </head>
    <body{% if page.grand %} class = "grand"{% endif %}>
        <header>
            <nav>
                <a href="/">about + projects</a>
                <a href="/posts" class="current">posts</a>
                <a href="/cv.html">resume</a>
                <a href="http://twitter.com/andsve" class="collapsed collapsed-left"><i class="fa fa-twitter"> </i></a><a href="http://linkedin.com/in/andsve" class="collapsed"><i class="fa fa-linkedin"> </i></a><a href="http://dribbble.com/andsve" class="collapsed"><i class="fa fa-dribbble"> </i></a><a href="http://bitbucket.org/andsve" class="collapsed"><i class="fa fa-bitbucket"> </i></a><a href="http://github.com/andsve" class="collapsed collapsed-right""><i class="fa fa-github"> </i></a>
            </nav>
            <h2>
                {{ page.title }}
            </h2>
        </header>
        <div id="wrap" class="blog">
            <div id="content">
        {{ content }}
            </div>

        </div>
    </body>

</html>
